ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
p{
  color: red;

}
.note{
  font-size: 20px ;
}
#ictor-demod-sele{
  color: green;
}
li[value="4"]{
  color: blue;
}
*{
  text-align: center;
}
html{
  background-color: aqua;
}
li[value="5"]{
  color: brown;
}